<div id="categories">
    <ul>
        <li id="pierwsza_kat">
            <a class="dropbtn" href="laptopy_tablety.php">
                Laptopy & tablety
            </a>
            <div class="dropdown-content">
                <a href="laptopy_notebook_ultra.php">Laptopy/Notebooki/Ultrabooki</a>
                <a href="tablety.php">Tablety</a>
                <a href="torby_etui.php">Torby & etui</a>
                <a href="akcesoria_laptop.php">Akcesoria do laptopów</a>
                <a href="akcesoria_tablet.php">Akcesoria do tabletów</a>
            </div>
        </li>
        <li>
            <a class="dropbtn" href="telefony_gps.php"> Telefony & GPS</a>
            <div class="dropdown-content">
                <a href="smartfony.php">Smartfony</a>
                <a href="smartwatche.php">Smartwatche</a>
                <a href="nawigacja_gps.php">Nawigacja GPS</a>
                <a href="pamieci_flash.php">Pamięci flash</a>
                <a href="drony.php">Drony</a>
                <a href="akcesoria_smartwatch.php">Akcesoria do smartwatchy</a>
                <a href="akcesoria_gps.php">Akcesoria GPS</a>
            </div>
        </li>
        <li><a class="dropbtn" href="pc.php"> Komputery stacjonarne</a>
            <div class="dropdown-content">
                <a href="komputery_serwery.php">Komputery/Serwery</a>
                <a href="monitory.php">Monitory</a>
                <a href="akcesoria_komputer.php">Akcesoria komputerowe</a>
            </div>
        </li>
        <li><a href="podzespoly_komp.php">Podzespoły komputerowe</a>
            <div class="dropdown-content">
                <a href="dyski_hdd_ssd.php">Dyski twarde Hdd i SSD</a>
                <a href="karty_graficzne.php">Karty graficzne</a>
                <a href="procesory.php">Procesory</a>
                <a href="plyty_glowne.php">Płyty główne</a>
                <a href="pamieci_ram.php">Pamięci RAM</a>
                <a href="obudowy_komputerowe.php">Obudowy komputerowe</a>
                <a href="zasilacze_komputerowe.php">Zasilacze komputerowe</a>
                <a href="chlodzenia_komputerowe.php">Chłodzenia komputerowe</a>
                <a href="karty_dzwiekowe.php">Karty dźwiękowe</a>
                <a href="karty_video.php">Karty video</a>
            </div>
        </li>
        <li><a href="urzadzenia_per.php">Urządzenia peryferyjne</a>
            <div class="dropdown-content">
                <a href="monitory.php">Monitory</a>
                <a href="drukarki.php">Drukarki</a>
                <a href="myszki.php">Myszki</a>
                <a href="klawiatury.php">Klawiatury</a>
                <a href="glosniki.php">Głośniki</a>
                <a href="projektory_ekrany.php">Projektory i ekrany</a>
                <a href="skanery.php">Skanery</a>
            </div>
        </li>
        <li><a href="gaming.php">Gaming</a>
            <div class="dropdown-content">
                <a href="konsole.php">Konsole</a>
                <a href="gry.php">Gry</a>
                <a href="kontrolery_do_gier.php">Kontrolery do gier</a>
                <a href="fotele_dla_graczy.php">Fotele dla graczy</a>
            </div>
        </li>
        <li><a href="foto_tv_radio.php">Foto, TV & audio</a>
            <div class="dropdown-content">
                <a href="telewizory.php">Telewizory</a>
                <a href="kino_domowe.php">Kino domowe</a>
                <a href="projektory_ekrany.php">Projektory i ekrany</a>
                <a href="kamery.php">Kamery</a>
                <a href="drony.php">Drony</a>
                <a href="kolumny_glosnikowe.php">Kolumny głośnikowe</a>
            </div>
        </li>
        <li><a href="oprogramowanie.php">Oprogramowanie</a>
            <div class="dropdown-content">
                <a href="systemy_operacyjne.php">Systemy operacyjne</a>
                <a href="prog_biurowe.php">Programy biurowe</a>
                <a href="prog_antywirusowe.php">Programy antywirusowe</a>
                <a href="prog_uzytkowe.php">Programy użytkowe</a>
            </div>
        </li>
        <li id="ostatnia_kat"><a href="akcesoria.php">Akcesoria</a>
            <div class="dropdown-content">
                <a href="kable_przejsciowki.php">Kable i przejsciówki</a>
                <a href="zasilanie.php">Zasilanie</a>
                <a href="nosniki_akcesoria.php">Nośniki i akcesoria</a>
                <a href="myszki.php">Myszki</a>
                <a href="klawiatury.php">Klawiatury</a>
                <a href="sluchawki_mikrofony.php">Słuchawki i mikrofony</a>
                <a href="glosniki.php">Głośniki</a>
            </div>
        </li>
    </ul>
</div>
